<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twitter.sdk.android.tweetcomposer">
    <application>
        <activity
            android:name="com.twitter.sdk.android.tweetcomposer.ComposerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <service
            android:name="com.twitter.sdk.android.tweetcomposer.TweetUploadService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
